/* FormularioIngreso.css */

.contenedor-formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Esto asegura que el contenedor ocupe al menos la altura de la ventana del navegador */
}

form {
  text-align: center;
}